@using Shashwat.ViewModel
<style>
        body{background-image: url('/images/carousel2.jpg');
         background-size: cover;
  background-position: center;
  background-attachment: fixed;}
  </style>
  <div class="text-center" >
     <div class="my">

     @*<img  alt="Shashwat's Pie Shop'" src="~/images/large (2).png"  width ="100"  height="100";/>*@
    
    </div></div>
    <div class="row">
@foreach (var pie in Model)
{
     <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
               <tr>   <td>  <a asp-controller="Pie" asp-action="Details" asp-route-id="@pie.PieId">@pie.Name</a></td></tr>
                </h3>
                <p>@pie.ShortDescription</p>
                 <p>@pie.LongDescription</p>
                 
            </div>
             <a asp-controller="pie" asp-action="AddToCart" asp-route-id="@pie.PieId"class="btn btn-primary">AddToCart</a>
         <a  asp-controller="Pie" asp-action="Delete"  asp-route-id="@pie.PieId"class="btn btn-primary"> Delete </a>
          <a asp-controller="pie" asp-action="Edit" asp-route-id="@pie.PieId"class="btn btn-primary">Edit</a>
        
        </div>
    </div>
 }</div>
   }
  
